* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #8D818C;
}

#main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: start;

    flex-wrap: wrap;
    background-color: #8D818C;
    padding: 3.5rem 2rem 2rem 2rem;
}

.note {
    width: 350px;
    height: 350px;
    background-color: #A5A299;
    color: white;
    margin: 20px;
    margin-bottom: 40px;

}

.tool {
    width: 100%;
    background-color: #E9EBF8;
    color: black;
    padding: 8px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1.4rem;
    gap: 20px;
}

.tool i {
    cursor: pointer;
}

textarea {
    height: 100%;
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

button#addbtn {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 6px;
    border: none;
    background-color: #29afe6;
    color: white;
    cursor: pointer;
    position: fixed;
}