* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-image: url(images/image.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    width: 100%;
    background-color: #0000007b;
    height: 100vh;
    color: white;
}

.watch {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 5rem;
    margin: 0 0 3rem 0;

    padding-bottom: 1rem;
}

h2 {
    font-size: 2.5rem;
    padding: 10px 40px;
    margin: 0 0 3rem 0;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;

}

.col div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type="text"] {
    width: 250px;
    height: 80px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 70px;
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255, 0.7);
}

label {
    font-size: 30px;
}

